<div class="jumbotron">
  <h1>Step 1</h1>
  <p class="lead">To spend funds anywhere Visa is accepted, you must first attach a Dwolla account to enable safe fund transfers.</p>
  <p><a class="btn btn-lg btn-warning" href="<%= @dwolla_link %>" role="button">Connect Dwolla</a></p>
  <p><h6>You will temporarily be redirected to Dwolla.com</h6></p>
</div>
