<div class="jumbotron">
  <h1>Step 1</h1>
  <p class="lead">Create a Dwolla account to accept secure payments.</p>
  <p>
    <div class="btn-padded">
      <%= link_to('Connect Dwolla',
            @dwolla_link,
            class: 'btn btn-lg btn-warning',
            data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Redirecting to Dwolla.com..."}) %>
    </div
  </p>
</div>
