<div class="jumbotron">
  <span class="glyphicon glyphicon-thumbs-up icon-lg" aria-hidden="true"></span>
  <h1>Done!</h1>
  <br />
  <p class="lead">
    <% if @user.response['kyc_passed'] %>
      Your new Shift card is on it's way to <%= @user.city %>.
    <% else %>
      Your application has been submitted. Shift may reach out via email.
    <% end %>
  </p>

  <p>
    <%= link_to 'Sign up another...', root_path, class: 'btn btn-default'  %>
  </p>
</div>
